%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [warnings_as_errors]}.

{deps, [
        {syslogger, {git, "https://github.com/basho/syslogger", {branch, "master"}}},
        {cluster_info, {git, "https://github.com/basho/cluster_info", {tag, "2.1.0"}}},
        {riak_auth_mods, {git, "https://github.com/basho/riak_auth_mods", {branch, "develop"}}},
        {riak_kv, {git, "https://github.com/TI-Tokyo/riak_kv.git", {tag, "riak_ts-3.0.0"}}},
        {riak_repl, {git, "https://github.com/TI-Tokyo/riak_repl.git", {branch, "riak_ts-3.0.0"}}}
      ]}.

{relx, [{release, {riak, "3.0.0"},
         [kernel,
          stdlib,
          public_key,
          ssl,
          syslogger,
          exometer_core,
          riak_sysmon,
          os_mon,
          crypto,
          observer,
          runtime_tools,
          xmerl,
          mochiweb,
          webmachine,
          basho_stats,
          clique,
          riak_core,
          riak_pipe,
          riak_kv,
          riak_ql,
          riak_api,
          riak_repl,
          cluster_info,
          riak_auth_mods]},

        {dev_mode, false},
        {include_erts, true},

        {sys_config_src, "config/sys.docker.config.src"},

        {overlay, [{mkdir, "lib/patches"},
                   {mkdir, "data/ring"},
                   {mkdir, "log"},

                   {template, "rel/files/riak-admin",      "bin/riak-admin"},
                   {template, "rel/files/riak-debug",      "bin/riak-debug"},
                   {template, "rel/files/riak-chkconfig",  "bin/riak-chkconfig"},
                   {template, "rel/files/riak-repl",       "bin/riak-repl"},
          {template, "rel/files/riak-nosu",         "usr/bin/riak"},

                   {copy,     "rel/files/hooks/check_ulimit",       "bin/hooks/check_ulimit"},
                   {copy,     "rel/files/hooks/erl_maxlogsize",     "bin/hooks/erl_maxlogsize"},
                   {copy,     "rel/files/hooks/erl_codeloadingmode","bin/hooks/erl_codeloadingmode"},
                   {template, "rel/files/hooks/riak_not_running",   "bin/hooks/riak_not_running"},
                   {template, "rel/files/lib.sh",                   "lib/lib.sh"},
                   {copy,     "rel/files/app_epath.escript",        "lib/app_epath.escript"}
                  ]},

        {overlay_vars, "rel/vars.docker.config"},
        {extended_start_script_hooks,
         [{pre_start,
           [{custom, "hooks/riak_not_running"},
            {custom, "hooks/check_ulimit"},
            {custom, "hooks/erl_maxlogsize"},
            {custom, "hooks/erl_codeloadingmode"}]},
          {post_start,
           [{wait_for_process, riak_core_node_watcher}
           ]}
         ]},

        {generate_start_script, true},
        {extended_start_script, true},
        {extended_start_script_extensions, [{admin, "riak-admin"},
                                            {repl, "riak-repl"},
                                            {debug, "riak-debug"},
                                            {chkconfig, "riak-chkconfig"}
                                           ]}
       ]
}.

{profiles,
 [{rel,
   [{relx,
     [
     ]}
   ]}
 ]
}.
