Source: riak-ts
Section: net
Priority: extra
Maintainer: riak_ts-packaging@tiot.jp
Build-Depends: debhelper (>= 7), libpam0g-dev, libncurses-dev, g++, dh-make, autoconf, automake, libboost-all-dev
Standards-Version: 3.9.3
Homepage: tiot.jp

Package: riak-ts
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, logrotate, sudo
Homepage: tiot.jp
Description: Riak TS Database
