[Unit]
Description=Riak TS Database

[Service]
User=riak
Environment=CODE_LOADING_MODE=interactive
ExecStart=/usr/sbin/riak foreground
ExecStop=/usr/sbin/riak stop
Type=simple
PIDFile=/run/riak/riak.pid
EnvironmentFile=-/etc/default/riak
RuntimeDirectory=riak

[Install]
WantedBy=multi-user.target
