[Unit]
Description=Riak TS Database

[Service]
User=riak_ts
ExecStart=/usr/sbin/riak start
ExecStop=/usr/sbin/riak stop
Type=forking
PIDFile=/run/riak.pid
EnvironmentFile=-/etc/default/riak
RuntimeDirectory=riak

[Install]
WantedBy=multi-user.target
